{
  "extends": ["stylelint-config-prettier", "stylelint-config-standard"],
  "plugins": ["stylelint-selector-bem-pattern", "stylelint-order"],
  "rules": {
    "selector-class-pattern": null,
    "order/properties-alphabetical-order": true,
    "plugin/selector-bem-pattern": {
      "componentName": "[A-Z]+",
      "componentSelectors": {
        "initial": "^\\.{componentName}(?:-[a-z]+)?$",
        "combined": "^\\.combined-{componentName}-[a-z]+$"
      },
      "utilitySelectors": "^\\.util-[a-z]+$"
    }
  }
}
