:root {
  --aside-margin-vertical: 4.5em;
}

.aside {
  margin-bottom: var(--aside-margin-vertical);
  margin-top: var(--aside-margin-vertical);
}

@media (min-width: 48em) {
  .aside {
    flex-shrink: 0;
    width: 16.5%;
  }
}

@media (min-width: 48em) {
  .aside {
    border-right: 1px solid #ddd;
    margin-right: 3%;
    order: -1;
  }
}
