:root {
  --base-color: #222;
  --base-font-family: "Roboto", sans-serif;
  --base-font-size: 1.125rem;
  --base-line-height: 1.75;
  --primary-color: #e34f26;
  --body-color: var(--base-color);
  --body-font-family: var(--base-font-family);
  --body-font-size: var(--base-font-size);
  --body-line-height: var(--base-line-height);
  --h1-font-size: 3.5rem;
  --h1-margin-bottom: 0.5em;
  --h1-margin-top: 0;
  --h2-font-size: 2.25rem;
  --h2-margin-bottom: 0.5em;
  --h2-margin-top: 0;
  --h3-font-size: 1.5rem;
  --h3-margin-bottom: 0.5em;
  --h3-margin-top: 1em;
  --h4-font-size: 1.125rem;
  --h4-margin-bottom: 0.5em;
  --h4-margin-top: 1em;
  --list-margin-bottom: 1.5em;
  --list-margin-top: 0.5em;
}

* {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

body {
  color: var(--body-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  margin: 0;
  min-height: 100%;
}

h1 {
  font-size: var(--h1-font-size);
  margin-bottom: var(--h1-margin-bottom);
  margin-top: var(--h1-margin-top);
}

h2 {
  font-size: var(--h2-font-size);
  margin-bottom: var(--h2-margin-bottom);
  margin-top: var(--h2-margin-top);
}

h3 {
  font-size: var(--h3-font-size);
  margin-bottom: var(--h3-margin-bottom);
  margin-top: var(--h3-margin-top);
}

h4 {
  font-size: var(--h4-font-size);
  margin-bottom: var(--h4-margin-bottom);
  margin-top: var(--h4-margin-top);
}

hr {
  background-color: #ddd;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

html {
  box-sizing: border-box;
  height: 100%;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

p {
  margin-bottom: 1.5em;
  margin-top: 0.5em;
  max-width: 48em;
}

pre {
  margin-bottom: 1.5em;
  margin-top: 0.5em;
  overflow: auto;
  white-space: pre-wrap;
}

ul {
  margin-bottom: var(--list-margin-bottom);
  margin-top: var(--list-margin-top);
  padding-left: 1.5em;
}
