:root {
  --bodyColor: var(--baseColor);
  --bodyFontFamily: var(--baseFontFamily);
  --bodyFontSize: var(--baseFontSize);
  --bodyLineHeight: var(--baseLineHeight);
}

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  color: var(--bodyColor);
  font-family: var(--bodyFontFamily);
  font-size: var(--bodyFontSize);
  line-height: var(--bodyLineHeight);
  margin: 0;
  min-height: 100%;
}
