.github {
  height: 80px;
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
}

.github__arm {
  transform-origin: 130px 106px;
}

.github:hover .github__arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}
