:root {
  --section-padding-vertical: 4.5em;
}

.section {
  padding-bottom: var(--section-padding-vertical);
  padding-top: var(--section-padding-vertical);
}

.section + .section {
  border-top: 1px solid #ddd;
}
