:root {
  --footer-padding-vertical: 1em;
}

.footer {
  border-top: 1px solid #ddd;
  padding-bottom: var(--footer-padding-vertical);
  padding-top: var(--footer-padding-vertical);
}

.footer p {
  margin: 0;
}
