:root {
  --baseColor: #222;
  --baseFontFamily: 'Roboto', sans-serif;
  --baseFontSize: 1.125rem;
  --baseLineHeight: 1.75;
  --primaryColor: #e34f26;
}

@custom-media --media-xs (min-width: 20em);
@custom-media --media-sm (min-width: 30em);
@custom-media --media-md (min-width: 48em);
@custom-media --media-lg (min-width: 60em);
